
module my-dotnet 1.0;

require {
	type svirt_lxc_net_t;
	class process getsession;
}

#============= svirt_lxc_net_t ==============
allow svirt_lxc_net_t self:process getsession;
